<!doctype html>
<html>

<head>
	<style>
		h2 {
			display: inline;
		}

		.dataCollection {
			width: 99%;
			border: 3px solid black;
			border-radius: 20px;
			margin-bottom: 15px;
			padding: 5px;
		}

		.dataCell {
			display: inline-block;
			width: 10%;
			margin-right: 15px;
			margin-left: 15px;
			vertical-align: top;
			text-align: left;
		}

		.threshold {
			padding: 0px;
			margin: 0px;
			width: 85px;
			/* float: right; */
		}

		.vl {
			border-right: 1px solid black;
			height: 150px;
			display: inline-block;
			vertical-align: top;
		}

		.color-red {
			color: red;
		}

		.ir-pixel {
			background-color: rgba(255, 255, 255, 0.8);
			border: 1px solid rgba(0, 0, 0, 0.8);
			padding-bottom: 100%;
			font-size: 5px;
			text-align: center;
		}

		.ir-grid {
			display: grid;
			grid-template-columns: auto auto auto auto auto auto auto auto;
			padding: 5px;
			width: 33%;
		}
	</style>
</head>

<script src="angular/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
	var app = angular.module('myApp', []);
	var socket = io();
	var paused = false;

	function playPressed() {
		socket.emit('play');
		paused = false;
	}

	function pausePressed() {
		socket.emit('pause');
		paused = true;
	}

	app.factory('socket', function ($rootScope) {
		var socket = io.connect();
		return {
			on: function (eventName, callback) {
				socket.on(eventName, function () {
					var args = arguments;
					$rootScope.$apply(function () {
						callback.apply(socket, args);
					});
				});
			},
			emit: function (eventName, data, callback) {
				socket.emit(eventName, data, function () {
					var args = arguments;
					$rootScope.$apply(function () {
						if (callback) {
							callback.apply(socket, args);
						}
					});
				})
			}
		};
	});

	app.controller('myCtrl', function ($scope, socket) {
		$scope.arrays = {};

		socket.on('message', function (message) {
			document.getElementById("message").innerHTML = (message + "<br>");
		});

		socket.on('serialopen', function (baud) {
			document.getElementById("message").innerHTML = ("Opened serial port with baud rate: " + baud + "<br>");
		});

		socket.on('serialclosed', function () {
			document.getElementById("message").innerHTML = ("Serial port closed" + "<br>");
		});

		socket.on('serialerror', function () {
			document.getElementById("message").innerHTML = ("Serial port error!!!" + "<br>");;
		});

		socket.on('newData', function (results) {
			$scope.arrays[results.name] = results;
			$scope.arrays[results.name]["time"] = new Date().getTime();
			$scope.numberOfPixels = [].constructor(64);

			let irArray = $scope.arrays[results.name]["irArray"];
			for (var i = 0; i < irArray.length; i++) {
				var red = 0;
				var green = 0;
				var blue = 0;
				if (irArray[i] < 26.5) {
					red = Math.round(irArray[i] * 39.231 - 784.62);
					green = 0;
					blue = 255;
				}
				else if (irArray[i] < 33) {
					red = 255;
					green = 0;
					blue = Math.round(irArray[i] * (-39.231) + 1294.625);
				}
				else {
					red = 255;
					green = Math.round(irArray[i] * 36.43 - 1202.14);
					blue = 0;
				}
				document.getElementById(results.name + i).style.backgroundColor = 'rgb(' + red + ', ' + green + ', ' + blue + ')';
			}
		});
		
		setInterval(function() {
			var currentTime = new Date().getTime();
			var keys = Object.keys($scope.arrays);
			for (var i = 0; i < keys.length; i++) {
				var previousTime = $scope.arrays[keys[i]]["time"];
				var difference = currentTime-previousTime;
				if (difference > 5000) {
					if (!paused) delete $scope.arrays[keys[i]];
				}
			}
		}, 5000);
	});
</script>

<body ng-app="myApp" ng-controller="myCtrl">

	<center>
		<h1>Triglyph Data Feed</h1>
		<p>{{message}}</p>
		<button onclick="playPressed()">Play</button>
		<button onclick="pausePressed()">Pause</button>
		<br>
	</center>

	<div ng-repeat="array in arrays">
		<div class="dataCollection">
			<h2 style="padding-left:15px;padding-right:15px;">{{array.name}}</h2>
			<input type="checkbox" ng-model="showIR"> Show IR
			<!-- <button onclick="">Play Audio</button> 
			i in array['irArray'] track by $index-->
			<div>Last Updated: {{array.date}}</div>
			<hr>
			<center>
				<div class="dataCell">
					<div style="text-align:center;font-weight: bold;">Environmental</div>
					<p ng-if="array.temp != null" ng-class="{'color-red': array.temp && (array.temp > tempThreshold)}">
						Temperature: {{array.temp}}<br><input class="threshold" type="text" ng-model="tempThreshold"
							placeholder="Enter Threshold"></p>

					<p ng-if="array.pressure != null"
						ng-class="{'color-red': pressureThresh && (array.pressure > pressureThresh)}">Pressure:
						{{array.pressure}}<br><input class="threshold" type="text" ng-model="pressureThresh"
							placeholder="Enter Threshold"></p>

					<p ng-if="array.co2 != null" ng-class="{'color-red': array.co2 && (array.co2 > co2Threshold)}">CO2:
						{{array.co2}}<br><input class="threshold" type="text" ng-model="co2Threshold"
							placeholder="Enter Threshold"></p>
				</div>

				<div class="vl"></div>

				<div class="dataCell">
					<div style="text-align:center;font-weight: bold;">Light</div>
					<p ng-if="array.uv != null" ng-class="{'color-red': array.uv && (array.uv > uvThresh)}">UV:
						{{array.uv}}<br><input class="threshold" type="text" ng-model="uvThresh"
							placeholder="Enter Threshold"></p>

					<p ng-if="array.ambient != null"
						ng-class="{'color-red': array.ambient && (array.ambient > ambThreshold)}">Light:
						{{array.ambient}}<br><input class="threshold" type="text" ng-model="ambThreshold"
							placeholder="Enter Threshold"></p>

					<p ng-if="array.prox != null" ng-class="{'color-red': array.prox && (array.prox > proxThreshold)}">
						Proximity: {{array.prox}}<br><input class="threshold" type="text" ng-model="proxThreshold"
							placeholder="Enter Threshold"></p>
				</div>

				<div class="vl"></div>

				<div class="dataCell">
					<div style="text-align:center;font-weight: bold;">Hall Effect</div>
					<p ng-if="array.north != null"
						ng-class="{'color-red': array.north && (array.north > nHallThreshold)}">North:
						{{array.north}}<br><input class="threshold" type="text" ng-model="nHallThreshold"
							placeholder="Enter Threshold"></p>

					<p ng-if="array.south != null"
						ng-class="{'color-red': array.south && (array.south > sHallThreshold)}">South:
						{{array.south}}<br><input class="threshold" type="text" ng-model="sHallThreshold"
							placeholder="Enter Threshold"></p>
				</div>

				<div class="vl"></div>

				<div class="dataCell">
					<div style="text-align:center;font-weight: bold;">Magnometer</div>
					<p ng-if="array.magx != null" ng-class="{'color-red': array.magx && (array.magx > xMagThreshold)}">
						X: {{array.magx}}<br><input class="threshold" type="text" ng-model="xMagThreshold"
							placeholder="Enter Threshold"></p>

					<p ng-if="array.magy != null" ng-class="{'color-red': array.magy && (array.magy > yMagThreshold)}">
						Y: {{array.magy}}<br><input class="threshold" type="text" ng-model="yMagThreshold"
							placeholder="Enter Threshold"></p>

					<p ng-if="array.magz != null" ng-class="{'color-red': array.magz && (array.magz > zMagThreshold)}">
						Z: {{array.magz}}<br><input class="threshold" type="text" ng-model="zMagThreshold"
							placeholder="Enter Threshold"></p>
				</div>

				<div class="vl"></div>

				<div class="dataCell">
					<div style="text-align:center;font-weight: bold;">Gyroscope</div>
					<p ng-if="array.gyrox != null"
						ng-class="{'color-red': array.gyrox && (array.gyrox > xGyroThreshold)}">X: {{array.gyrox}}<br><input
							class="threshold" type="text" ng-model="xGyroThreshold" placeholder="Enter Threshold"></p>

					<p ng-if="array.gyroy != null"
						ng-class="{'color-red': array.gyroy && (array.gyroy > yGyroThreshold)}">Y: {{array.gyroy}}<br><input
							class="threshold" type="text" ng-model="yGyroThreshold" placeholder="Enter Threshold"></p>

					<p ng-if="array.gyroz != null"
						ng-class="{'color-red': array.gyroz && (array.gyroz > zGyroThreshold)}">Z: {{array.gyroz}}<br><input
							class="threshold" type="text" ng-model="zGyroThreshold" placeholder="Enter Threshold"></p>
				</div>

				<div class="vl"></div>

				<div class="dataCell">
					<div style="text-align:center;font-weight: bold;">Accelerometer 1</div>
					<p ng-if="array.acc1x != null"
						ng-class="{'color-red': array.acc1x && (array.acc1x > acc1xThreshold)}">X: {{array.acc1x}}<br><input
							class="threshold" type="text" ng-model="acc1xThreshold" placeholder="Enter Threshold"></p>

					<p ng-if="array.acc1y != null"
						ng-class="{'color-red': array.acc1y && (array.acc1y > acc1yThreshold)}">Y: {{array.acc1y}}<br><input
							class="threshold" type="text" ng-model="acc1yThreshold" placeholder="Enter Threshold"></p>

					<p ng-if="array.acc1z != null"
						ng-class="{'color-red': array.acc1z && (array.acc1z > acc1zThreshold)}">Z: {{array.acc1z}}<br><input
							class="threshold" type="text" ng-model="acc1zThreshold" placeholder="Enter Threshold"></p>
				</div>

				<div class="vl"></div>

				<div class="dataCell">
					<div style="text-align:center;font-weight: bold;">RGB</div>
					<p ng-if="array.red != null" ng-class="{'color-red': array.red && (array.red > redThreshold)}">Red:
						{{array.red}}<br><input class="threshold" type="text" ng-model="redThreshold"
							placeholder="Enter Threshold Value"></p>

					<p ng-if="array.green != null"
						ng-class="{'color-red': array.green && (array.green > greenThreshold)}">Green:
						{{array.green}}<br><input class="threshold" type="text" ng-model="greenThreshold"
							placeholder="Enter Threshold Value"></p>

					<p ng-if="array.blue != null" ng-class="{'color-red': array.blue && (array.blue > blueThreshold)}">
						Blue: {{array.blue}}<br><input class="threshold" type="text" ng-model="blueThreshold"
							placeholder="Enter Threshold Value"></p>
				</div>

			</center>
		</div>
		<div class="ir-grid" ng-if="showIR">
			<div class="ir-pixel" ng-repeat="i in numberOfPixels track by $index" id="{{array.name+$index}}"></div>
		</div>
	</div>
</body>