<!doctype html>
<html>

<head>
		<style>
		h2 {
					display: inline;
		}
		.dataCollection {
				width: 99%;
				border: 3px solid black;
				border-radius: 20px;
				margin-bottom: 15px;
				padding: 5px;
		}
		.dataCell {
				display: inline-block;
				width: 14%;
				margin-right: 15px;
				margin-left: 15px;
				vertical-align: top;
				text-align: left;
		}
		.threshold {
				padding: 0px;
				margin: 0px;
				width: 85px;
				float: right;
		}
		.vl {
				border-right: 1px solid black;
				height: 150px;
				display: inline-block;
				vertical-align: top;
		}
		.color-red {
			color: red;
		}
		.ir-pixel {
			background-color: rgba(255, 255, 255, 0.8);
			border: 1px solid rgba(0, 0, 0, 0.8);
			padding-bottom: 100%;
			font-size: 5px;
			text-align: center;
		}
		</style>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
		var app = angular.module('myApp', []);
		var socket = io();
		
		function playPressed () {
				socket.emit('play');
		}

		function pausePressed () {
				socket.emit('pause');
		}

		function resetPressed () {
				socket.emit('reset');
				location.reload();
		}

		app.factory('socket', function ($rootScope) {
			var socket = io.connect();
			return {
				on: function (eventName, callback) {
					socket.on(eventName, function () {  
						var args = arguments;
						$rootScope.$apply(function () {
							callback.apply(socket, args);
						});
					});
				},
				emit: function (eventName, data, callback) {
					socket.emit(eventName, data, function () {
						var args = arguments;
						$rootScope.$apply(function () {
							if (callback) {
								callback.apply(socket, args);
							}
						});
					})
				}
			};
		});

    app.controller('myCtrl', function($scope, socket) {
				$scope.arrays = {};

        socket.on('message', function(message) {
            document.getElementById("message").innerHTML = (message + "<br>");
        });
				
				socket.on('serialopen', function (baud) {
            document.getElementById("message").innerHTML = ("Opened serial port with baud rate: " + baud + "<br>");
        });

        socket.on('serialclosed', function () {
            document.getElementById("message").innerHTML = ("Serial port closed" + "<br>");
        });

        socket.on('serialerror', function () {
            document.getElementById("message").innerHTML = ("Serial port error!!!" + "<br>");;
        });     

        socket.on('newData', function (results) {
					$scope.arrays[results.name] = results;
				});

				$scope.arrays["Test"] = {"name": "Test"};
				
    });
</script>

<body ng-app="myApp" ng-controller="myCtrl">
    
    <center>
    <h1>Triglyph Data Feed</h1>
    <p>{{message}}</p>
    <button onclick="playPressed()">Play</button>
    <button onclick="pausePressed()">Pause</button>
    <button onclick="resetPressed()">Reset</button>
    <br>
    </center>
    
    <div ng-repeat="array in arrays">
			<div class="dataCollection">
        <h2 style="padding-left:15px;padding-right:15px;">{{array.name}}</h2>
        <input type="checkbox" ng-model="Testing"> Show IR
        <button onclick="">Play Audio</button>
        <hr>
        <center>
        <div class="dataCell">
            <div style="text-align:center;font-weight: bold;">Environmental</div>
            <p ng-if="array.temp">Temperature: {{array.temp}}<input class="threshold" type="text" ng-model="tempThreshold" placeholder="Enter Threshold"></p>
            <p ng-if="array.pressure" ng-class="{'color-red': pressureThresh && (array.pressure > pressureThresh)}">Pressure: {{array.pressure}}<input class="threshold" type="text" ng-model="pressureThresh" placeholder="Enter Threshold"></p>
            <p ng-if="array.co2">CO2: {{array.co2}}<input class="threshold" type="text" ng-model="co2Threshold" placeholder="Enter Threshold"></p>
        </div>

        <div class="vl"></div>

        <div class="dataCell">
            <div style="text-align:center;font-weight: bold;">Light</div>
            <p ng-if="array.uv" ng-class="{'color-red': array.uv && (array.uv > uvThresh)}">UV: {{array.uv}}<input class="threshold" type="text" ng-model="uvThresh" placeholder="Enter Threshold"></p>
            <p ng-if="array.ambient">Light: {{array.ambient}}<input class="threshold" type="text" ng-model="ambThreshold" placeholder="Enter Threshold"></p>
            <p ng-if="array.prox">Proximity: {{array.prox}}<input class="threshold" type="text" ng-model="proxThreshold" placeholder="Enter Threshold"></p>
        </div> 
        
        <div class="vl"></div>

        <div class="dataCell">
            <div style="text-align:center;font-weight: bold;">Hall Effect</div>
            <p ng-if="array.north">North: {{array.north}}<input class="threshold" type="text" ng-model="nHallThreshold" placeholder="Enter Threshold"></p>
            <p ng-if="array.south">South: {{array.south}}<input class="threshold" type="text" ng-model="sHallThreshold" placeholder="Enter Threshold"></p>
        </div>

        <div class="vl"></div>

        <div class="dataCell">
            <div style="text-align:center;font-weight: bold;">Magnometer</div>
            <p ng-if="array.magx">X: {{array.magx}}<input class="threshold" type="text" ng-model="xMagThreshold" placeholder="Enter Threshold"></p>
            <p ng-if="array.magy">Y: {{array.magy}}<input class="threshold" type="text" ng-model="yMagThreshold" placeholder="Enter Threshold"></p>
            <p ng-if="array.magz">Z: {{array.magz}}<input class="threshold" type="text" ng-model="zMagThreshold" placeholder="Enter Threshold"></p>
        </div> 
        
        <div class="vl"></div>

        <div class="dataCell">
            <div style="text-align:center;font-weight: bold;">Gyroscope</div>
            <p ng-if="array.gyrox">X: {{array.gyrox}}<input class="threshold" type="text" ng-model="xGyroThreshold" placeholder="Enter Threshold"></p>
            <p ng-if="array.gyroy">Y: {{array.gyroy}}<input class="threshold" type="text" ng-model="yGyroThreshold" placeholder="Enter Threshold"></p>
            <p ng-if="array.gyroz">Z: {{array.gyroz}}<input class="threshold" type="text" ng-model="zGyroThreshold" placeholder="Enter Threshold"></p>
        </div>  
        
        <div class="vl"></div>

        <div class="dataCell">
            <div style="text-align:center;font-weight: bold;">RGB</div>
            <p ng-if="array.red">Red: {{array.red}}<input class="threshold" type="text" ng-model="redThreshold" placeholder="Enter Threshold Value"></p>
            <p ng-if="array.green">Green: {{array.green}}<input class="threshold" type="text" ng-model="greenThreshold" placeholder="Enter Threshold Value"></p>
            <p ng-if="array.blue">Blue: {{array.blue}}<input class="threshold" type="text" ng-model="blueThreshold" placeholder="Enter Threshold Value"></p>
				</div>
				
				</center>
			</div>
			<div ng-if="Testing">Hello World!</div>
    </div>
</body>
